<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Sauce Suite">
    <listeners>
        <listener class-name="listeners.ExtentListeners"/>
    </listeners>
    <test name="Sauce Demo">
        <classes>
            <class name="testCases.TestSauceDemo"/>
        </classes>
    </test>
</suite>
